<!DOCTYPE html>
<html ng-app='sandboxApp'>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Angular Node Uploader</title>
		<base href="/">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="/node_modules/angular/angular.js"></script>
		<script src="/node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
		<script type="text/javascript" src="web/webapp.js"></script>
	</head>
	<body class="container" ng-controller="mainController">

		<div class="row">
			<div class="col-sm-6">
				<h1>Uploader test 📸</h1>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<form>
					<div class="row">
 						<div class="col-sm-6">
			    			<input type="file" name="fileupload" file/>
						</div>
						<div class="col-sm-6">
							<input class="btn btn-default" type="button" name="button" value="go!" ng-click="upload()">
						</div>
					</div>
				</form>
				<hr>
				<div ng-if="errorMsg">
					<h4 style="color:red">Error</h4>

					<div class="row">
						<div class="well col-sm-12">
							url: {{signedUrl}}
						</div>
						<div class="well col-sm-12">
							{{errorMsg}}
						</div>
					</div>
				</div>
				<div class="row" ng-if="!errorMsg">
					
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
							<span>{{progress}}%</span>
						</div>
					</div>
					<div class="col-sm-6">
						<h4>Preview</h4>
						<div id="preview">
							<img class="col-md-6" ng-src="{{fileread}}">
						</div>
					</div>
					<div class="col-sm-6">
						<h4>Uploaded image</h4>
						<div id="uploaded">
							<img class="col-sm-6" ng-src="{{uploadedImageUrl}}" id="uploadedImage"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
